<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="logo"><img src="{%static "media/logo.svg"%}"></div>
		<form class="search" action="" method="GET">
			<input type="search" name="s" autocomplete="off" placeholder="Search">

		</form>
		<div class="user_logo"><a href="/admin"><img src="{%static "media/user_logo.svg"%}"></a></div>
		<div class="favorites" id="favorites"><img src="{%static "media/favorites.svg"%}"></div>
		<div class="cart"><img src="{%static "media/cart.svg"%}"></div>
	</header>
	<div class="flex_proposal">
		<a href="" class="flex_item vapes">
			<span>VAPES</span>
			<img src="{%static "media/vape.svg"%}" alt="">
		</a>
		<a href="#" class="flex_item liquids">
			<span>LIQUIDS</span>
			<img src="{%static "media/liquid.svg"%}" alt="">
			</a>
	</div>
	<div class="wrapper">
		<div class="hr"></div>
		<span>BESTSELLERS</span>
	</div>
	<div class="wrapper_items">
		{% for post in pr %}
		<a href="#" class="item_red item_1" id="card"><img src="{{ post.image.url }}"><div class="info">
			<span class="title">
				{{ post.title }}
			</span>
			<span class="price">
				${{ post.price }}
			</span>
		</div></a>
		{% endfor %}
	</div>
	<script src="{% static 'script.js' %}"></script>
</body>
</html>